/.cpcache
/.nrepl-port
/bin
/config.edn
/config.sh
/secrets.env
/storage/
/tailwindcss
/target
.calva/
.clj-kondo/
.lsp/
.portal/

.clerk/

src/user.clj

notebook_data/

config.env

prod-storage/

airtable_data/

CLAUDE.md
