/.cpcache
/.nrepl-port
/bin
/config.edn
/config.sh
/secrets.env
/storage/
/tailwindcss
/target
/tmp/
.calva/
.clj-kondo/.cache/
.lsp/
.portal/

.clerk/

src/user.clj

notebook_data/

config.env

prod-storage/

airtable_data/

src/tech/jgood/.clj-kondo/.cache/

.DS_Store

.agent-profile.md
