{:store         :database
 :migration-dir "migrations"
 :db            {:dbtype   "postgres"
                 :dbname   "${DB_NAME}"
                 :host     "${DB_HOST}"
                 :port     "${DB_PORT}"
                 :user     "${DB_USER}"
                 :password "${DB_PASSWORD}"}}
